*{
    box-sizing: border-box;
    margin:0;
}
body{
    padding: 0 45px;
}
button,
input{
    border: none;
    outline: none;
    box-shadow: none;
}
button{
    background-color: white;
    cursor: pointer;
}
ol,
ul,
li{
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
    color:inherit;
}

.header{
    background-color: #979E36;
    border: 1px solid black;
    padding: 10px 0;
}

.header__link{
   text-align: center;
   font-size: 8px;
}
main{
    height: 100vh;
}
.menu-bar{
    border: 1px solid black;
}
.menu__lists{
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 600;
    border-bottom: 1px solid black;
}
.menu__list-item{
    cursor: pointer;
    position: relative;
    padding: 12px 0;
}
.menu__list-item:not(:nth-child(2)){
    width: 15%;
    height: 100%;
}
.menu__list-item:nth-child(2){
    font-size: 22px;
    width: 55%;
}
.menu__list-item__search{
    display: block;
    cursor: pointer;
    transition:all 300ms ease-in-out;
}
.menu__list-item__form{
    display: flex;
    transform: translateY(-15px);
    position: absolute;
    visibility: hidden;
}
.menu__list-item:nth-child(3){
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 19px 0;
    transition:border-bottom 1s ease-in-out;
}
.menu__list-item:nth-child(3):hover{
    border-bottom: none;
}
.currency__lists{
    visibility: visible;
    margin: 19px 0;
    width: 100%;
    padding: 20px 0;
    display: flex;
    right: 1px;
    flex-direction: column;
    position: absolute;
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
    transition: all 250ms ease-in-out;
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}
 .menu__list-item:nth-child(3):hover .currency__lists{
    opacity: 1;
    visibility: visible;
    z-index: 2;
} 
.currency__list-item:hover{
    color:rgba(0, 0, 0, 0.5)
}
.currency__list-item{
    margin-top:18px;
}
.menu__list-item:last-child{
    transition: all 1s linear;
}
.menu__list-item:last-child:hover{
    opacity: 0;
    transform: translateX(-40%);
}








